body {
  background-image: url("../images/bg2.jpeg");
  background-size: cover;
}
img:hover {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.blog {
  padding: 5vw;
}
.blog-container {
  background-color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  box-sizing: border-box;
}
.bread-crumb ul {
  list-style: none;
  display: flex;
  padding: 0px 15px;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
.blog-header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.breadcrumb li+li::before {
    padding: 8px;
    color: black;
    content: ".";
}
.back-button {
    font-size: 2vw;
    width: 2vw;
    border: none;
    background-color: white;
    color: rgb(3, 114, 151);
    margin-top: 1vw;
}
.breadcrumb li {
    font-size: 1.5vw;
    margin-top: 0.5vw;
    color: rgb(3, 114, 151);
}
.l1{
    color: black;
    text-decoration: none;

}
.l2{
    text-decoration:none;
    color: rgb(3, 114, 151);
}
.h2h1 {
    font-size: 5vw;
    margin-left: 5vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 114, 151);
}
.h1h1 {
    margin-left: 5vw;
    margin-bottom: -0.3vw;
    color: rgb(97, 87, 87);
    font-family:Arial, Helvetica, sans-serif;
}
.header-h1 {
    margin-left: -1vw;
    margin-top: 2vw;
}
.h1h5 {
    text-align: center;
    color:  rgb(97, 87, 87);
    font-size: 1.5vw;
}
.btn11{
    border: none;
    color:  rgb(3, 114, 151);
    font-size: 2vw;
    background-color: transparent;
}
.img-fluid {
    width: 30vw;
    max-width: 100%;
    height: auto;
}
.span-date {
    color: rgb(97, 87, 87);
}
.blog-detail-h6 {
    font-size: 25px;
}
.detail-href {
    text-decoration: none;
    color: rgb(3, 114, 151);
}
.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    margin-left: -500px;
    height: 100vh;
  }
  .blog-content-2 {
    margin-top: -500px;
    margin-left: 500px;
  }
  .filter-list li button {
    border: none;
    color:  rgb(3, 114, 151);
    background-color: transparent;
    font-size: 15px;
  }
  .filter-list li {
    list-style: none;
  }
@media screen and (max-width: 600px) {
 .blog-container {
      padding: 10px;
    }
  }